services:
  1c-postgres:
    image: akocur/postgresql-1c-17
    container_name: 1c-postgres
    volumes:
      - 1c-postgres_data:/var/lib/pgpro/1c-17/data
    ports:
      - 127.0.0.1:$ONEC_PG_PORT:5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      start_period: 2s
      start_interval: 1s
      interval: 5s
      timeout: 5s
      retries: 3
    restart: no

  1c-server:
    build:
      dockerfile: ./1c-server/Dockerfile
      args:
        - PLATFORM_VERSION=$PLATFORM_VERSION
        - ONEC_USER_NAME=$ONEC_USER_NAME
    container_name: 1c-server
    env_file:
      - .env
    depends_on:
      1c-postgres:
        condition: service_healthy
    ports:
      - $SERVER_PORT:1540
      - $SERVER_AGENT_PORT:1541
      - $SERVER_WEB_ADMIN_PORT:1542
      - "1560-1591:1560-1591"
    volumes:
      - 1c-server_conf:/1c_dir/conf
      - 1c-server_data:/home/$ONEC_USER_NAME
    restart: no

  1c-client:
    build:
      dockerfile: ./1c-client/Dockerfile
      args:
        - PLATFORM_VERSION=$PLATFORM_VERSION
        - ONEC_USER_NAME=$ONEC_USER_NAME
    container_name: 1c-client
    env_file:
      - .env
    environment:
      - DISPLAY=$DISPLAY
      - XAUTHORITY=/tmp/.docker.xauth
      - QT_X11_NO_MITSHM=1
      - _X11_NO_MITSHM=1
      - _MITSHM=0
    depends_on:
      - 1c-server
    volumes:
      - 1c-client_home:/home/$ONEC_USER_NAME
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${XAUTHORITY}:/tmp/.docker.xauth:rw
      - ${HOME}/.Xauthority:/root/.Xauthority:ro
    stdin_open: true
    tty: true
    restart: no

volumes:
  1c-postgres_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${BASE_MOUNT_DIR}/data/1c-postgres_data

  1c-server_conf:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${BASE_MOUNT_DIR}/data/1c-server_conf

  1c-server_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${BASE_MOUNT_DIR}/data/1c-server_data

  1c-client_home:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${BASE_MOUNT_DIR}/data/1c-client_home
